{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}
        <a href="/resume/add/">Добавить резюме</a>
    {% endif %}


    <form method="post">{% csrf_token %}
    <h2>Соискатель:</h2>
        {% for field in form %}
            <dt>{{ field.label }}:</dt>
            <dd class="clearfix">
                {{ field }}
                {{ field.errors }}
            </dd>
        {% endfor %}
        <input type="submit" value="Сохранить данные" class="clearfix">
    </form>
{% endblock %}