{% extends "base.html" %}

{% block content %}
    <form method="post">{% csrf_token %}
    <h2>Регистрационные данные:</h2>
        <dt>Название фирмы:</dt>
        <dd class="clearfix">
            {{ form.username }}
        </dd>
        <dt>Год регистрации:</dt>
        <dd class="clearfix">
            {{ form.year }}
        </dd>
        <dt>Регистрационный номер:</dt>
        <dd class="clearfix">
            {{ form.reg_num }}
        </dd>
        <dt>Номер налогоплательщика:</dt>
        <dd class="clearfix">
            {{ form.taxpayer }}
        </dd>

    <h2>Контактные данные:</h2>
        <dt>Телефоны:</dt>
        <dd class="clearfix">
            {{ form.phone }}
        </dd>
        <dt>Факс:</dt>
        <dd class="clearfix">
            {{ form.fax }}
        </dd>
        <dt>E-mail:</dt>
        <dd class="clearfix">
            {{ form.email }}
            {{ form.email.error }}
        </dd>
        <dt>Skype:</dt>
        <dd class="clearfix">
            {{ form.skype }}
        </dd>
        <dt>Web:</dt>
        <dd class="clearfix">
            {{ form.web }}
        </dd>
        <input type="submit" value="Сохранить данные" class="clearfix">
    </form>
{% endblock %}