//var//
@orange: #f55305;
@blue: #45a1e0;
////////
//func//
.submenu (@top; @width_ul; @width_a) {
	list-style-image: url("../img/top_navigate_bullet.png");
    list-style-position: inside;
  ul {
    background-color: #ffffff;
  }
  li {
    ul {
      position: absolute;
      width: @width_ul;
      left: -999em;
    }
    &:hover {
      ul {
        top: @top;
        left: 20px;
        z-index: 100;
        border: 1px solid #f77116;
        li {
          padding-left: 5px;
          &:hover {background-color: #f77116;}
          a {
            width: @width_a;
            color: #000000;
            &:hover {
              color: #ffffff;
              background-color: #f77116;
            }
          }
        }
      }
    }
  }
}
////

body {
  font-size: 12px;
}
//.container {
//  background-color: #000000;
//}
.captcha{
  width: 60px;
  height: 30px;
border-color: rgba(82,168,236,0.8);
outline: 0;
outline: thin dotted \9;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);  margin: 5px;
}
._top {
  height: 75px;
}
._currency-banner {
  border: 1px solid #e0ded7;
  font-size: 10px;
  width: 130px;
  height: 60px;
  margin-top: 5px;
  ._currency-banner-img {
    position: relative;
    top: 5px;
    left: 5px;
  }
  ._currency-banner-table {
    position: relative;
    left: 65px;
    bottom: 40px;
    th {
      line-height: 12px;
      font-size: 10px;
    }
    td {
      line-height: 10px;
    }
  }
}

._logo {
  position: relative;
  bottom: 10px;
}
._tob-banner{
  position: relative; top: 10px;
}
._top-navigate {
  position: relative;
  border-top: 1px dotted #e0ded7;
  border-bottom: 1px dotted #e0ded7;
  background-color: #ffedd3;
  font-size: 12px;
  height: 90px;
  width: 980px;
  a {
    color: #000000;
    &:hover {color: @orange;}
  }
  ul {
    list-style-image: url("../img/top_navigate_bullet.png");
  }
  div {
    position: relative;
    bottom: 20px;
  }
  ._top-navigate-1 {
    width: 200px;
  }
  ._top-navigate-2 {
    width: 180px;
    position: relative; left: 17px;
  }
  ._top-navigate-3 {
    width: 150px;
  }
  ._top-navigate-4 {
    width: 190px;
  }
  ._top-navigate-5 {
    width: 150px;
  }
}

#nav {
  .submenu (@top: 17px; @width_ul: 165px; @width_a: 160px);
}
#nav2 {
  .submenu (@top: 37px; @width_ul: 160px; @width_a: 155px);
}
#nav3 {
  .submenu (@top: 17px; @width_ul: 165px; @width_a: 160px);
}


._middle{
  padding-bottom: 10px;
  font-size: 12px;
}


._search-block{
  margin-bottom: 20px;
  width: 980px;
  font-size: 12px;
  ._search-block-div{
    width: 960px;
  }
  ._search{
    border-top: 1px solid @blue;
    border-bottom: 1px solid @blue;
  }
  ._work{
    position: relative;
    bottom: 15px;
    height: 60px;
    ._work-text{
      color: @blue;
      position: relative; left: 20px; top: 15px;
      text-decoration: underline;
      &:hover{
        border: 0;
        text-decoration: none;
      }
    }
  }
  ._form{
    height: 60px;
    background-color: @blue;
    padding-left: 20px;
    font-size: 12px;
    ._form-input-text{
      border-radius: 0px;
      border: 2px solid #7f9db9;
      height: 15px;
      position: relative; top: 5px; left: 10px;
      width: 400px;
    }
    ._form-input-submit{
      position: relative; left: 10px;
      border-radius: 3px;
      background: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#868686));
      color: #ffffff;
      font-size: 10px;
    }
    ._form-category{
      color: #ffffff;
      position: relative; right: 10px;
      ._form-category-choices{
        position: relative; bottom: 2px;
        input{
          width: 12px;
          height: 12px;
        }
        ._form-category-type{
          position: relative; right: 45px; top: 3px;
          label{
            font-size: 12px;
          }
        }
      }
    }
  }
  ._search-block-resume-add{
    position: relative; left: 60px; top: 5px;
    font-size: 10px;
    color: #ffffff;
  }
    ._search-block-job-add{
    position: relative; left: 143px; bottom: 8px;
    font-size: 10px;
    color: #ffffff;
  }
}

._profile-link{
  a{
    color: #000000;
    &:hover{
      color: @orange;
    }
  }
}

._content{
  ._left-navigate{
//    list-style-image: url("../img/left_navigate_bullet.png");
    list-style: none;
    position: relative; top: 10px; right: 10px;
    font-size: 12px;
    img{
      margin-right: 3px;
    }
    a{
      color: #000000;
      &:hover{
        color: @blue;
      }
    }
  }
  ._content-center{
    position: relative; bottom: 20px;
    border-left: 1px solid @blue;
    ._table-main{
      margin-left: 10px;
    }
    ._table{
      border-radius: 0px;
      border-collapse: collapse;
      font-size: 12px;
      ._date{
        position: relative; top: 10px; left: 10px;
      }
      ._table-company{
        margin-bottom: 0px;
        font-size: 11px;
        color: #808080;
      }
      tbody{
        td{
          -webkit-border-top-left-radius: none;
          border-top-left-radius: none;
          -moz-border-radius-topleft: none;
        }
      }
    }
  }
  ._top-insets{
    position: relative; top: 10px;
    border-color: @blue;
    a{
      border-radius: 0px;
      color: #808080;
      &:hover{
        background: none;
        border: 1px solid #ffffff;
        border-bottom-color: transparent;
      }
    }
    li.active{
      border-color: @blue;
      a{
        border-radius: 0px;
        border: 1px solid @blue;
        border-bottom-color: transparent;
        color: #000000;
      }
    }
  }
  ._right-banners{
    width: 200px;
    position: relative; left: 20px; bottom: 10px;
    img{
      padding-bottom: 10px;
    }
  }
}

._title{
  color: @blue;
  position: relative; left: 20px;
}
._login-form{
  position: relative; right: 50px; top: 20px;
  #id_username, #id_password, #id_password1, #id_password2, #id_email, #id_captcha_1{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
  label{
    font-size: 12px;
  }
  .myerrors{
    font-size: 10px;
    color: @orange;
    position: relative; top: 5px; left: 10px;
    ul{
      list-style: none;
    }
  }
}
._login-list{
  list-style: none;
  font-size: 12px;
  position: relative; right: 10px;
  margin-top: 60px;
}