{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <h4 class="_title">Личный кабинет</h4>
    <div class="tabbable _table-main" id="tabs-603801">
        <ul class="nav nav-tabs _top-insets">
            <li><a class="_top-insets-element" href="/resume/add">Разместить резюме</a></li>
            <li class="active"><a href="/resume/my">Мои резюме</a></li>
            <li><a href="/accounts/profile">Мой профиль</a></li>
            <li class="pull-right"><a id="tab-profile" href="/accounts/logout">Выйти</a></li>
        </ul>
    </div>

            {% for res in resume %}
                <table class="table table-condensed table-bordered _table _table-user-ads">
                    <tbody>
                        <tr>
                            <td class="_table-time">
                                <p class="date">{{ res.date.day }}.{{ res.date.month }}.{{ res.date.year }}</p>
                                <p class="time">{{ res.date.time|time:"H:i" }}</p>
                            </td>
                            <td class="_table-data">
                                {% if res.photo %}
                                    {% thumbnail res.photo "52x52" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" class="ad_list_img" height="{{ im.height }}" alt="Иллюстрация">
                                    {% endthumbnail %}
                                {% endif %}
                                <p class="office_p"><a class="office" href="{{ res.pk }}">{{ res.office }}</a><b> от {{ res.salary }} {{ res.salary_measure }}</b></p>
                                <p class="info">стаж работы {{ res.experience }}, {{ res.employment }}, {{ res.education }} образование</p>
                                {% if res.owner %}<p class="company">{{ res.owner }}</p>{% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
{% endblock %}