{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <h4 class="_title">Личный кабинет</h4>
    <div class="tabbable _table-main" id="tabs-603801">
        <ul class="nav nav-tabs _top-insets">
            <li><a class="_top-insets-element" href="/job/add">Разместить вакансию</a></li>
            <li class="active"><a href="/job/my">Мои вакансии</a></li>
            <li><a href="/accounts/profile">Моя компания</a></li>
            <li class="pull-right"><a id="tab-profile" href="/accounts/logout">Выйти</a></li>
        </ul>
    </div>

    <form action="" method="post">{% csrf_token %}
        <p>Вы действительно хотите удалить резюме "{{ object }}"?</p>
        <input type="submit" value="Удалить" />
    </form>
{% endblock %}