{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    {% if jobs|length > 0 %}
        <table>
            <tr>
                <td>
                    <a class="navigate_link" href="/"><h4 class="_title _search_res">Вакансии</h4></a>
                </td>
                <td class="arrow">→</td>
                <td>
                    <h4 class="_title _search_res">{{ category }}</h4>
                </td>
            </tr>
        </table>
    {% else %}
        <h4 class="_title _search_res">В категории "{{ category }}" нет вакансий</h4>
    {% endif %}
    {% if applicant %}
        <div class="tabbable _table-main" id="tabs-603801">
            <ul class="nav nav-tabs _top-insets">
                <li><a class="_top-insets-element" href="/resume/add">Разместить резюме</a></li>
                <li><a href="/resume/my">Мои резюме</a></li>
                <li><a href="/accounts/profile">Мой профиль</a></li>
                <li class="active"><a href="/job/{{ category.slug }}">Вакансии</a></li>
                <li><a href="/resume/{{ category.slug }}">Резюме</a></li>
                <li class="pull-right"><a id="tab-profile" href="/accounts/logout?next=/">Выйти</a></li>
            </ul>
        </div>
    {% elif employer %}
        <div class="tabbable _table-main" id="tabs-603801">
            <ul class="nav nav-tabs _top-insets">
                <li><a class="_top-insets-element" href="/job/add">Разместить вакансию</a></li>
                <li><a href="/job/my">Мои вакансии</a></li>
                <li><a href="/accounts/profile">Моя компания</a></li>
                <li class="active"><a href="/job/{{ category.slug }}">Вакансии</a></li>
                <li><a href="/resume/{{ category.slug }}">Резюме</a></li>
                <li class="pull-right"><a id="tab-profile" href="/accounts/logout?next=/">Выйти</a></li>
            </ul>
        </div>
    {% else %}
        <div class="tabbable _table-main" id="tabs-603801">
            <ul class="nav nav-tabs _top-insets">
                <li class="active"><a class="_top-insets-element" href="/job/{{ category.slug }}">Вакансия</a></li>
                <li><a href="/resume/{{ category.slug }}">Резюме</a></li>
                <li class="pull-right"><a id="tab-profile" href="/accounts/profile">{% if user.is_authenticated %}Личный кабинет{% else %}Войти в личный кабинет{% endif %}</a></li>
            </ul>
        </div>
    {% endif %}
        <table class="_table">
            <tbody>
                {% for job in jobs %}
                    <tr>
                        <td class="_table-time">
                            <p class="date">{{ job.date.day }}.{{ job.date.month }}.{{ job.date.year }}</p>
                            <p class="time">{{ job.date.time|time:"H:i" }}</p>
                        </td>
                        <td class="_table-data">
                            <p class="office_p"><a class="office" href="/job/{{ job.pk }}">{{ job.office }}</a><b>{% if job.salary_from %} от {{ job.salary_from }}{% endif %}{% if job.salary_to %} до {{ job.salary_to }}{% endif %}{% if job.salary_measure %} {{ job.salary_measure }}{% endif %}</b></p>
                            <p class="info">стаж работы {{ job.experience }}, {{ job.employment }}, {{ job.education }} образование</p>
                            <p class="company">{% if job.owner.company_name %}"{{ job.owner.company_name }}"{% else %}Название компании не указано{% endif %}</p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}