{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block ad_list %}
    <table class="resume_detail_table">
        <tbody>
            <tr>
                <td class="resume_detail_date"><p>{{ job.date.date }}</p><p>{{ job.date.time }}</p></td>
                <td class="resume_detail_context resume_detail_title"><h3>
                    {{ job.office }}
                    <p>{% if job.salary_from %}от {{ job.salary_from }} {% endif %}{% if job.salary_to %}до {{ job.salary_to }}{% endif %}</p>
                    {{ resume.salary_measure }}
                </h3></td>
            </tr>

            <tr>
                <td></td>
                <td class="resume_detail_context resume_detail_info_title"><h6>Общая информация о вакансии</h6></td>
            </tr>

            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Должность: </label>{{ job.office }}</td>
            </tr>
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Сфера деятельности: </label>{{ job.category }}</td>
            </tr>
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Специализация: </label>
                    {% for sub in job.subcategory.all %}
                        <p>{{ sub }}</p>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <td></td>
                <td class="resume_detail_context resume_detail_info_title"><h6>Условия работы</h6></td>
            </tr>

            {% if job.schedule %}
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">График рабоыт: </label>{{ job.schedule }}</td>
            </tr>
            {% endif %}
            {% if job.employment %}
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Тип занятости: </label>{{ job.employment }}</td>
            </tr>
            {% endif %}
            {% if job.about_job %}
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Описание вакансии, условие работы: </label>{{ job.about_job }}</td>
            </tr>
            {% endif %}
            {% if job.city %}
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Город: </label>{{ job.city }}</td>
            </tr>
            {% endif %}
            {% if job.street or job.building or job.about_address %}
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Адрес: </label>
                    {% if job.street %}
                        {{ job.street }}
                    {% endif %}
                    {% if job.building %}
                        {{ job.building }}
                    {% endif %}
                    {% if job.about_address %}
                        {{ job.about_address }}
                    {% endif %}
                </td>
            </tr>
            {% endif %}



            <tr>
                <td></td>
                <td class="resume_detail_context resume_detail_info_title"><h6>Требования к соискателю</h6></td>
            </tr>

            {% if job.education %}
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Образования: </label>{{ job.education }}</td>
            </tr>
            {% endif %}
            {% if job.experience %}
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Опыт работы: </label>{{ job.experience }}</td>
            </tr>
            {% endif %}
            {% if job.skills %}
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Навыки работы: </label>{{ job.skills }}</td>
            </tr>
            {% endif %}

            <tr>
                <td></td>
                <td class="resume_detail_context resume_detail_info_title"><h6>Контактная информация</h6></td>
            </tr>

            {% if job.owner.company_name %}
                <tr>
                    <td></td>
                    <td class="resume_detail_context"><label class="resume_detail_label">Название компании:  </label>{{ job.owner.company_name }}</td>
                </tr>
            {% endif %}
            {% if job.contact %}
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Контактное лицо: </label>{{ job.contact }}</td>
            </tr>
            {% endif %}
            {% if job.phone %}
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Телефон: </label>{{ job.phone }}</td>
            </tr>
            {% endif %}
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">E-mail: </label>{{ job.email }}</td>
            </tr>
            {% if job.site %}
            <tr>
                <td></td>
                <td class="resume_detail_context"><label class="resume_detail_label">Сайт: </label>{{ job.site }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% if job.owner.photo %}
    <div class="resume_detail_img">
        {% thumbnail job.owner.photo "150x112" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Иллюстрация">
        {% endthumbnail %}
    </div>
    {% else %}
        <div class="resume_detail_img">
            {% thumbnail 'http://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Anatoly_Wasserman_%282010-09-11%29_2.jpg/250px-Anatoly_Wasserman_%282010-09-11%29_2.jpg' "150x112" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="Иллюстрация">
            {% endthumbnail %}
        </div>
    {% endif %}
{% endblock %}