{% extends "base.html" %}

{% block content %}
    {% if not applicant %}
        <h4 class="_title">Личный кабинет</h4>
        <div class="tabbable _table-main" id="tabs-603801">
            <ul class="nav nav-tabs _top-insets">
                <li  class="active"><a class="_top-insets-element" href="/job/add">Разместить вакансию</a></li>
                <li><a href="#">Мои вакансии</a></li>
                <li><a href="/accounts/profile">Моя компания</a></li>
                <li class="pull-right"><a id="tab-profile" href="/accounts/logout">Выйти</a></li>
            </ul>
        </div>

        <form method="post">{% csrf_token %}
        <h2>Добавить вакансию:</h2>
            {% for field in form %}
                <dt>{{ field.label }}:</dt>
                <dd class="clearfix">
                    {{ field }}
                    {{ field.errors }}
                </dd>
            {% endfor %}
            <input type="submit" value="Сохранить данные" class="clearfix">
        </form>
    {% else %}
        Вы не можете добавлять вакансии. Зарегестрируйтесь или авторизуйтесь как "Работодатель"
    {% endif %}
{% endblock %}