{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        <div class="global_container_ clearfix expandingBoxFix">
            <header class="header">
                <div class="header_2 clearfix">
                    {% include 'top-logo.html' %}
                    <div class="top_menu">
                        {% include 'top-navigate.html' %}
                    </div>
                    <div class="top_banners">
                        <img class=" bannertop1" src="{% static 'main/img/images/bannertop1.jpg' %}" alt="" width="468" height="60" />
                        <img class=" bannertop2" src="{% static 'main/img/images/bannertop2.jpg' %}" alt="" width="468" height="60" />
                    </div>
                </div>
           </header>
            <div class="poisk clearfix">
                {% include 'search.html' %}
            </div>
            <div class="content clearfix">
                <div class="left clearfix">
                    {% include 'left-menu.html' %}
                </div>

                <div class="_center _content">
                    {% block content %}
                        {% block ad_list %}
                            <div class="tabbable _table-main" id="tabs-603801">
                                <ul class="nav nav-tabs _top-insets">
                                    <li class="active"><a class="_top-insets-element">Вакансии</a></li>
                                    <li><a href="/resume/">Резюме</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <table class="_table">
                                            <tbody>
                                                {% for job in jobs %}
                                                    <tr>
                                                        <td class="_table-time">
                                                            {{ job.date.day }}.{{ job.date.month }}.{{ job.date.year }}
                                                            <br>
                                                            {{ job.date.time.hour }}:{{ job.date.time.minute }}
                                                        </td>
                                                        <td class="_table-data">
                                                            <a href="#">{{ job.office }}</a><b> от {{ job.salary_from }}{% if job.salary_to %} до {{ job.salary_to }}{% endif %} {{ job.salary_measure }}</b>
                                                            <br>
                                                            стаж работы {{ job.experience }}, {{ job.employment }}, {{ job.education }} образование
                                                            <p class="_table-company">"Феникс"</p>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    {% if jobs_all_pages != 0 %}
                                        <div class="pagination">
                                            <span class="step-links">
                                                <span class="current">
                                                    <p>
                                                        Показывать по:
                                                        <a href="?show=10">10</a>
                                                        <a href="?show=30">30</a>
                                                        <a href="?show=50">50</a>
                                                    </p>
                                                </span>

                                                <span class="current">
                                                    Всего позиций: {{ jobs_len }}. Страница: {{ jobs.number }} из {{ jobs.paginator.num_pages }}.
                                                </span>

                                                {% if jobs.has_previous %}
                                                    <a href="?page=1&show={{ show }}">Первая</a>
                                                    ←<a href="?page={{ jobs.previous_page_number }}&show={{ show }}">Предыдущая</a>
                                                {% endif %}
                                                {% if jobs.has_next %}
                                                    <a href="?page={{ jobs.next_page_number }}&show={{ show }}">Следующая</a>→
                                                    <a href="?page={{ jobs_all_pages }}&show={{ show }}">Последняя</a>
                                                {% endif %}
                                            </span>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    {% endblock %}
                </div>

                <div class="right">
                 <img class=" bannerright1" src="{% static 'main/img/images/bannerright1.jpg' %}" alt="" width="200" height="100" />
                 <img class=" bannerright2" src="{% static 'main/img/images/bannerright2.jpg' %}" alt="" width="200" height="100" />
                 <img class=" bannerright3" src="{% static 'main/img/images/bannerright3.jpg' %}" alt="" width="200" height="100" />
                </div>
            </div>
        </div>
    </body>
</html>