{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
    <head>
        {% include 'head.html' %}
    </head>
    <body>
        <div class="global_container_ clearfix expandingBoxFix">
            <header class="header">
                <div class="header_2 clearfix">
                    {% include 'top-logo.html' %}
                    <div class="top_menu">
                        {% include 'top-navigate.html' %}
                    </div>
                    <div class="top_banners">
                        <img class=" bannertop1" src="{% static 'main/img/images/bannertop1.jpg' %}" alt="" width="468" height="60" />
                        <img class=" bannertop2" src="{% static 'main/img/images/bannertop2.jpg' %}" alt="" width="468" height="60" />
                    </div>
                </div>
           </header>
            <div class="poisk clearfix">
                {% include 'search.html' %}
            </div>
            <div class="content clearfix">
                <div class="left clearfix">
                    {% include 'left-menu.html' %}
                </div>

                <div class="_center _content">
                    {% block content %}
{#                        <form action="/" method="GET">#}
{#                            <input type="text" name="a"/>#}
{#                            <input type="submit" />#}
{#                        </form>#}
                        {% block ad_list %}
                            <div class="tabbable _table-main" id="tabs-603801">
                                <ul class="nav nav-tabs _top-insets">
                                    <li class="active"><a class="_top-insets-element">Вакансии</a></li>
                                    <li><a href="/resume/">Резюме</a></li>
                                    {% if user.is_active and user.is_stuff %}
                                        <li class="pull-right"><a id="tab-profile" href="/admin">Панель администратора</a></li>
                                    {% else %}
                                        <li class="pull-right"><a id="tab-profile" href="/accounts/profile">Войти в личный кабинет</a></li>
                                    {% endif %}
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active">
                                        <table class="_table">
                                            <tbody>
                                                {% for job in jobs %}
                                                    <tr>
                                                        <td class="_table-time">
                                                            <p class="date">{{ job.date.day }}.{{ job.date.month }}.{{ job.date.year }}</p>
                                                            <p class="time">{{ job.date.time|time:"H:i" }}</p>
                                                        </td>
                                                        <td class="_table-data">
                                                            <p class="office_p"><a class="office" href="#">{{ job.office }}</a><b> от {{ job.salary_from }}{% if job.salary_to %} до {{ job.salary_to }}{% endif %} {{ job.salary_measure }}</b></p>
                                                            <p class="info">стаж работы {{ job.experience }}, {{ job.employment }}, {{ job.education }} образование</p>
                                                            <p class="company">"Феникс"</p>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>

                                    {% if jobs_all_pages != 0 %}
                                        <div class="pagination">
                                            <p class="show">
                                                Показывать по:
                                                <a id="by_10" class="show_by {% if show == 10 %}active{% elif show != 10 and show != 30 and show != 50 %}active{% endif %}" href="?show=10">10</a>
                                                <a id="by_30" class="show_by {% if show == 30 %}active{% endif %}" href="?show=30">30</a>
                                                <a id="by_50" class="show_by {% if show == 50 %}active{% endif %}" href="?show=50">50</a>
                                            </p>
                                            <p class="show">
                                                {% if jobs.has_previous %}
                                                    <a class="show_by" href="?page=1&show={{ show }}">Первая</a>
                                                    ←<a class="show_by" href="?page={{ jobs.previous_page_number }}&show={{ show }}">Предыдущая</a>
                                                {% endif %}
                                                Всего позиций: {{ jobs_len }}. Страница: {{ jobs.number }} из {{ jobs.paginator.num_pages }}.
                                                {% if jobs.has_next %}
                                                    <a class="show_by" href="?page={{ jobs.next_page_number }}&show={{ show }}">Следующая</a>→
                                                    <a class="show_by" href="?page={{ jobs_all_pages }}&show={{ show }}">Последняя</a>
                                                {% endif %}
                                            </p>
                                        </div>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                    {% endblock %}
                </div>

                <div class="right">
                 <img class=" bannerright1" src="{% static 'main/img/images/bannerright1.jpg' %}" alt="" width="200" height="100" />
                 <img class=" bannerright2" src="{% static 'main/img/images/bannerright2.jpg' %}" alt="" width="200" height="100" />
                 <img class=" bannerright3" src="{% static 'main/img/images/bannerright3.jpg' %}" alt="" width="200" height="100" />
                </div>
            </div>
        </div>
    </body>
</html>