                <div class="footer_left">
                    <div id="ext-counter">
                    <script type="text/javascript">
                        (function (d, w, c) {
                        (w[c] = w[c] || []).push(function() {
                        try {
                        w.yaCounter20204866 = new Ya.Metrika({id:20204866,
                            webvisor:true,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                        } catch(e) { }
                        });

                        var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () { n.parentNode.insertBefore(s, n); };
                        s.type = "text/javascript";
                        s.async = true;
                        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                        if (w.opera == "[object Opera]") {
                            d.addEventListener("DOMContentLoaded", f, false);
                        } else { f(); }
                        })(document, window, "yandex_metrika_callbacks");
                    </script>
                    <noscript>
                      &lt;div&gt;
                        &lt;img src="//mc.yandex.ru/watch/20204866" style="position:absolute; left:-9999px;" alt="" /&gt;
                      &lt;/div&gt;
                    </noscript>
                    <script language="JavaScript" type="text/javascript">
                        <!--
                        d=document;var a='';a+=';r='+escape(d.referrer)
                        js=10
                        //-->
                    </script>
                    <script language="JavaScript1.1" type="text/javascript">
                        <!--
                        a+=';j='+navigator.javaEnabled()
                        js=11
                        //-->
                    </script>
                    <script language="JavaScript1.2" type="text/javascript">
                        <!--
                        s=screen;a+=';s='+s.width+'*'+s.height
                        a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth)
                        js=12
                        //-->
                    </script>
                    <script language="JavaScript1.3" type="text/javascript">
                        <!--
                        js=13
                        //-->
                    </script>
                    <script language="JavaScript" type="text/javascript">
                        <!--
                        d.write('<a href="http://top.mail.ru/jump?from=1226340"'+
                        ' target=_blank><img src="http://d6.cb.b2.a1.top.list.ru/counter'+
                        '?id=1226340;t=52;js='+js+a+';rand='+Math.random()+
                        '" alt="Рейтинг@Mail.ru"'+' border=0 height=31 width=88/><\/a>')
                        //-->
                    </script><a href="http://top.mail.ru/jump?from=1226340" target="_blank"><img src="http://d6.cb.b2.a1.top.list.ru/counter?id=1226340;t=52;js=13;r=http%3A//www.2-999-999.ru/;j=true;s=1920*1080;d=24;rand=0.4626562793273479" alt="Рейтинг@Mail.ru" border="0" height="31" width="88/"></a>
                    <noscript>
                      &lt;a target="_top" href="http://top.mail.ru/jump?from=1226340"&gt;
                        &lt;img src="http://d6.cb.b2.a1.top.list.ru/counter?js=na;id=1226340;t=52" border="0" height="31" width="88" alt="Рейтинг@Mail.ru" /&gt;
                      &lt;/a&gt;
                    </noscript>
                    <script language="JavaScript" type="text/javascript">
                        <!--
                        d=document;server='http://cnt.krasland.ru';
                        rn=Math.round(Math.random()*1e6);
                        d.write('<a href=\''+server+'/from?id=32475\' target=_blank>');
                        d.write('<img alt=\'Красноярский рейтинг сайтов на Krasland.ru\' src=\''+server+'/?c=32475&ref='+escape(d.referrer)+'&rand='+rn+'\' width=88 height=31 border=0></a>');
                        //-->
                    </script><a href="http://cnt.krasland.ru/from?id=32475" target="_blank"><img alt="Красноярский рейтинг сайтов на Krasland.ru" src="http://cnt.krasland.ru/?c=32475&amp;ref=http%3A//www.2-999-999.ru/&amp;rand=298901" width="88" height="31" border="0"></a>
                    <noscript>
                      &lt;a href="http://cnt.krasland.ru/from?id=32475" target="_blank"&gt;
                        &lt;img src="http://cnt.krasland.ru/?c=32475" width="88" height="31" border="0" alt="Красноярский рейтинг сайтов на Krasland.ru" /&gt;
                      &lt;/a&gt;
                    </noscript>
                    <script src="http://log.krs-ix.ru/krscat.js" type="text/javascript"></script>
                    <script type="text/javascript">tracker_krs("82");</script><a href="http://www.krs-ix.ru/counter/info/82" target="_blank"><img src="http://log.krs-ix.ru/krs.php?id=82&amp;s=199869868&amp;dr=http%3A//www.2-999-999.ru/&amp;wl=http%3A//www.2-999-999.ru/internet-magazin/&amp;rw=1920&amp;rh=1080&amp;u=" border="0" width="88" height="31" alt="KRS-IX Counter"></a>
                    <noscript>
                      &lt;a href="http://www.krs-ix.ru/counter" target="_blank"&gt;
                        &lt;img src="http://log.krs-ix.ru/generate.php?id=82&amp;amp;s=0" border="0" width="88" height="31" alt="KRS-IX Counter" /&gt;
                      &lt;/a&gt;
                    </noscript>
                    </div>
                </div>

                <div class="footer_center">
                    <span>
                        © 2001-2013 Информационное агентство «<a href="http://www.2-999-999.ru/p/o-nas/" target="_blank">Инфоцентр 009</a>», Свидетельство о регистрации СМИ: ИА № 16-009 от 29.12.2003 г. выдано Средне-Сибирским межрегиональным территориальным управлением МПТР РФ.
                    </span>
                    <p>Любая перепечатка информации и изготовление продуктов коммерческого использования на ее основе допускаются только с письменного разрешения Информационного агентства "Инфоцентр 009". Ссылка на портал обязательна.</p>
                    <p>Прогноз погоды предоставлен <a target="_blank" href="http://www.gismeteo.ru/">Gismeteo.ru</a></p>
                </div>
                <div class="footer_right">
                    По всем вопросам размещения рекламы
                    <br>
                    на сайте <a href="http://www.2-999-999.ru/" target="_blank">www.2-999-999.ru</a><br><b>E-mail:</b>&nbsp;<a href="mailto:internet@2-999-999.ru">internet@2-999-999.ru</a>
                    <br>
                    <b>Телефон:</b> (391) 2-746-009, 221-70-77
                    <br>
                </div>