{% load static %}
<div class="span3">
    <ul class="_left-navigate">
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
        <li><img src="{% static 'main/img/left_navigate_bullet.png' %}"><a href="#">Lorem ipsum dolor sit amet</a></li>
    </ul>
</div>
