{% if jobs %}
    <p class=" vakansii">Вакансии</p>
    <ul class="spisok">
        {% for cat in jobs_categories %}
            <li class=" li-it_komputery_programmnoe_">
                <p class=" it_komputery_programmnoe_">
                    <a href="/job/{{ cat.slug }}">
                        {{ cat.name }}
                        {% for ad, a in jobs_ads.items %}
                            {% if ad == cat.name %}
                                ({{ a }})
                            {% endif %}
                        {% endfor %}
                    </a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% elif resume %}
    <p class=" vakansii">Резюме</p>
    <ul class="spisok">
        {% for cat in resume_categories %}
            <li class=" li-it_komputery_programmnoe_">
                <p class=" it_komputery_programmnoe_">
                    <a href="/resume/{{ cat.slug }}">
                        {{ cat.name }}
                        {% for ad, a in resume_ads.items %}
                            {% if ad == cat.name %}
                                ({{ a }})
                            {% endif %}
                        {% endfor %}
                    </a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class=" vakansii">Вакансии</p>
    <ul class="spisok">
        {% for cat in jobs_categories %}
            <li class=" li-it_komputery_programmnoe_">
                <p class=" it_komputery_programmnoe_">
                    <a href="/job/{{ cat.slug }}">
                        {{ cat.name }}
                        {% for ad, a in jobs_ads.items %}
                            {% if ad == cat.name %}
                                ({{ a }})
                            {% endif %}
                        {% endfor %}
                    </a>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endif %}