 <p class=" vakansii">Вакансии</p>
 <ul class="spisok">
  <li class=" li-it_komputery_programmnoe_"><p class=" it_komputery_programmnoe_"><a href="#">IT, компьютеры, программное<br style="margin-bottom: 0.0; line-height: 7.0px; display: block; content: ' ';" />обеспечение (8)</a></p></li>
  <li class=" li-avtoservis_32"><p class=" avtoservis_32"><a href="#">Автосервис (32)</a></p></li>
  <li class=" li-buhgalteriya_1s_kassovyi_"><p class=" buhgalteriya_1s_kassovyi_"><a href="#">Бухгалтерия, 1С, кассовый учет (13)</a></p></li>
  <li class=" li-voditeli_kurery_transport"><p class=" voditeli_kurery_transport"><a href="#">Водители, курьеры, транспортная<br style="margin-bottom: 0.0; line-height: 7.0px; display: block; content: ' ';" />логистика (54)</a></p></li>
  <li class=" li-direktora_rukovoditeli_6"><p class=" direktora_rukovoditeli_6"><a href="#">Директора, руководители (6)</a></p></li>
  <li class=" li-inzhenery_sfera_zhkh_2"><p class=" inzhenery_sfera_zhkh_2"><a href="#">Инженеры, сфера ЖКХ (2)</a></p></li>
  <li class=" li-iskusstvo_1"><p class=" iskusstvo_1"><a href="#">Искусство (1)</a></p></li>
  <li class=" li-medicina_farmacevtika_15"><p class=" medicina_farmacevtika_15"><a href="#">Медицина, фармацевтика (15)</a></p></li>
  <li class=" li-menedzhery_po_personalu_k"><p class=" menedzhery_po_personalu_k"><a href="#">Менеджеры по персоналу,<br style="margin-bottom: 0.0; line-height: 7.0px; display: block; content: ' ';" />кадровики (9)</a></p></li>
  <li class=" li-menedzhment_prodazhi_15"><p class=" menedzhment_prodazhi_15"><a href="#">Менеджмент, продажи (15)</a></p></li>
  <li class=" li-obrazovanie_treningi_6"><p class=" obrazovanie_treningi_6"><a href="#">Образование, тренинги (6)</a></p></li>
  <li class=" li-obshepit_povara_oficianty"><p class=" obshepit_povara_oficianty"><a href="#">Общепит, повара, официанты (53)</a></p></li>
  <li class=" li-operatory_administratory_"><p class=" operatory_administratory_"><a href="#">Операторы, администраторы (29)</a></p></li>
  <li class=" li-ohrana_policiya_bezopasno"><p class=" ohrana_policiya_bezopasno"><a href="#">Охрана, полиция, безопасность (18)</a></p></li>
  <li class=" li-personal_dlya_doma_3"><p class=" personal_dlya_doma_3"><a href="#">Персонал для дома (3)</a></p></li>
  <li class=" li-proizvodstvo_sborka_monta"><p class=" proizvodstvo_sborka_monta"><a href="#">Производство, сборка, монтаж (45)</a></p></li>
  <li class=" li-rabota_aktivnym_18"><p class=" rabota_aktivnym_18"><a href="#">Работа активным (18)</a></p></li>
  <li class=" li-rabochie_specialnosti_str"><p class=" rabochie_specialnosti_str"><a href="#">Рабочие специальности, стройка (92)</a></p></li>
  <li class=" li-raznorabochie_tehnicheski"><p class=" raznorabochie_tehnicheski"><a href="#">Разнорабочие, технический<br style="margin-bottom: 0.0; line-height: 7.0px; display: block; content: ' ';" />персонал (56)</a></p></li>
  <li class=" li-reklama_marketing_pr_9"><p class=" reklama_marketing_pr_9"><a href="#">Реклама, маркетинг, PR (9)</a></p></li>
  <li class=" li-rieltory_nedvizhimost_6"><p class=" rieltory_nedvizhimost_6"><a href="#">Риэлторы, недвижимость (6)</a></p></li>
  <li class=" li-sekretari_pomoshniki_ofis"><p class=" sekretari_pomoshniki_ofis"><a href="#">Секретари, помощники,<br style="margin-bottom: 0.0; line-height: 7.0px; display: block; content: ' ';" />офис-менеджеры (11)</a></p></li>
  <li class=" li-smi_zhurnalisty_redaktory"><p class=" smi_zhurnalisty_redaktory"><a href="#">СМИ, журналисты, редакторы (1)</a></p></li>
  <li class=" li-sfera_uslug_servis_dlya_n"><p class=" sfera_uslug_servis_dlya_n"><a href="#">Сфера услуг, сервис для населения (43)</a></p></li>
  <li class=" li-torgovlya_torgovye_predst"><p class=" torgovlya_torgovye_predst"><a href="#">Торговля, торговые представители,<br style="margin-bottom: 0.0; line-height: 7.0px; display: block; content: ' ';" />склад (122)</a></p></li>
  <li class=" li-turizm_gostinichnyi_bizne"><p class=" turizm_gostinichnyi_bizne"><a href="#">Туризм, гостиничный бизнес (1)</a></p></li>
  <li class=" li-finansy_konsalding_audit_"><p class=" finansy_konsalding_audit_"><a href="#">Финансы, консалдинг, аудит (3)</a></p></li>
  <li class=" last li-urisprudenciya_pristavy_1"><p class=" urisprudenciya_pristavy_1"><a href="#">Юриспруденция, приставы (1)</a></p></li>
 </ul>
