{% extends 'base.html' %}

{% block ad_list %}
<div class="tabbable _table-main" id="tabs-603801">
    <ul class="nav nav-tabs _top-insets">
        <li><a class="_top-insets-element" href="/">Вакансии</a></li>
        <li class="active"><a>Резюме</a></li>
        {% if user.is_active and user.is_stuff %}
            <li class="pull-right"><a id="tab-profile" href="/admin">Панель администратора</a></li>
        {% else %}
            <li class="pull-right"><a id="tab-profile" href="/accounts/profile">Войти в личный кабинет</a></li>
        {% endif %}
    </ul>

    <div class="tab-pane active" id="panel-184892">
        <table class="table table-condensed table-bordered _table">
            <tbody>
                {% for res in resume %}
                    <tr>
                        <td class="_table-time">
                            <p class="date">{{ res.date.day }}.{{ res.date.month }}.{{ res.date.year }}</p>
                            <p class="time">{{ res.date.time|time:"H:i" }}</p>
                        </td>
                        <td class="_table-data">
                            <p class="office_p"><a class="office" href="#">{{ res.office }}</a><b> от {{ res.salary }} {{ res.salary_measure }}</b></p>
                            <p class="info">стаж работы {{ res.experience }}, {{ res.employment }}, {{ res.education }} образование</p>
                            <p class="company">"Феникс"</p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% if resume_all_pages != 0 %}
        <div class="pagination">
            <p class="show">
                Показывать по:
                <a id="by_10" class="show_by {% if show == 10 %}active{% elif show != 10 and show != 30 and show != 50 %}active{% endif %}" href="?show=10">10</a>
                <a id="by_30" class="show_by {% if show == 30 %}active{% endif %}" href="?show=30">30</a>
                <a id="by_50" class="show_by {% if show == 50 %}active{% endif %}" href="?show=50">50</a>
            </p>
            <p class="show">
                {% if resume.has_previous %}
                    <a class="show_by" href="?page=1&show={{ show }}">Первая</a>
                    ←<a class="show_by" href="?page={{ resume.previous_page_number }}&show={{ show }}">Предыдущая</a>
                {% endif %}
                Всего позиций: {{ resume_len }}. Страница: {{ resume.number }} из {{ resume.paginator.num_pages }}.
                {% if resume.has_next %}
                    <a class="show_by" href="?page={{ resume.next_page_number }}&show={{ show }}">Следующая</a>→
                    <a class="show_by" href="?page={{ resume_all_pages }}&show={{ show }}">Последняя</a>
                {% endif %}
            </p>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}