{% extends 'base.html' %}

{% block ad_list %}
<div class="tabbable _table-main" id="tabs-603801">
    <ul class="nav nav-tabs _top-insets">
        <li><a class="_top-insets-element" href="/">Вакансии</a></li>
        <li class="active"><a>Резюме</a></li>
        <li class="pull-right _profile-link"><a href="/accounts/profile/">Войти в личный кабинет</a></li>
    </ul>

    <div class="tab-pane active" id="panel-184892">
        <table class="table table-condensed table-bordered _table">
            <tbody>
                {% for res in resume %}
                    <tr>
                        <td>
                            {{ res.date.day }}.{{ res.date.month }}.{{ res.date.year }}
                            <br>
                            {{ res.date.time }}
                        </td>
                        <td>
                            {{ res.office }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% if resume_all_pages != 0 %}
        <div class="pagination">
            <span class="step-links">
                <span class="current">
                    <p>
                        Показывать по:
                        <a href="?show=10">10</a>
                        <a href="?show=30">30</a>
                        <a href="?show=50">50</a>
                    </p>
                </span>
                <span class="current">
                    Всего позиций: {{ resume_len }}. Страница: {{ resume.number }} из {{ resume.paginator.num_pages }}.
                </span>

                {% if resume.has_previous %}
                    <a href="?page=1&show={{ show }}">Первая</a>
                    ←<a href="?page={{ resume.previous_page_number }}&show={{ show }}">Предыдущая</a>
                {% endif %}
                {% if resume.has_next %}
                    <a href="?page={{ resume.next_page_number }}&show={{ show }}">Следующая</a>→
                    <a href="?page={{ resume_all_pages }}&show={{ show }}">Последняя</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}