<div class="row _top-navigate">
    <div class="span2 _top-navigate-1">
        <ul>
            <li><a href="http://www.2-999-999.ru/tematika/" target="_blank">Каталог товаров и услуг</a></li>
            <li><a href="http://www.2-999-999.ru/firm/" target="_blank">Каталог фирм</a></li>
            <li><a href="http://www.2-999-999.ru/site/" target="_blank">Каталог сайтов</a></li>
            <li><a href="http://www.2-999-999.ru/internet-magazin/" target="_blank">Каталог интернет-магазинов</a></li>
        </ul>
    </div>
    <div class="span2 _top-navigate-2">
        <ul>
            <li><a href="http://www.2-999-999.ru/gor-spravka/" target="_blank">Городская справка</a></li>
            <li><a href="http://map.2-999-999.ru/" target="_blank">Карта Красноярска</a></li>
            <li><a href="http://www.2-999-999.ru/doska/" target="_blank">Частные объявления</a></li>
            <li><a href="http://www.2-999-999.ru/akcii-rasprodazhi/" target="_blank">Акции, распродажи</a></li>
        </ul>
    </div>
    <div class="span2 _top-navigate-3">
        <ul id="nav">
            <li>
                <a href="http://www.2-999-999.ru/novosti/" target="_blank">Новости</a>
                <ul>
                    <li><a href="http://www.2-999-999.ru/gorodskie-novosti/" target="_blank">Новости Красноярска</a></li>
                    <li><a href="http://www.2-999-999.ru/novosti-kultury/" target="_blank">Новости культуры</a></li>
                    <li><a href="http://www.2-999-999.ru/molodezhnye-novosti/" target="_blank">Молодежные новости</a></li>
                    <li><a href="http://www.2-999-999.ru/novosti-sporta/" target="_blank">Новости спорта</a></li>
                    <li><a href="http://www.2-999-999.ru/novosti-firm/" target="_blank">Предложения фирм</a></li>
                    <li><a href="http://www.2-999-999.ru/novosti-tovarov-i-uslug/" target="_blank">Новости товаров и услуг</a></li>
                    <li><a href="http://www.2-999-999.ru/sobytiya-v-zhizni-goroda/" target="_blank">События в жизни города</a></li>
                    <li><a href="http://www.2-999-999.ru/novosti-kompanii/" target="_blank">Новости компании</a></li>
                </ul>
            </li>
            <li><a href="http://www.2-999-999.ru/den-v-istorii/" target="_blank">День в истории</a></li>
            <li><a href="http://www.2-999-999.ru/article/" target="_blank">Статьи</a></li>
            <li><a href="http://www.2-999-999.ru/slovar/" target="_blank">Словарь</a></li>
        </ul>
    </div>
    <div class="span2 _top-navigate-4">
        <ul id="nav2">
            <li><a href="/">Работа</a></li>
            <li>
                <a href="http://www.2-999-999.ru/p/raspisanie-dvizhenija/" target="_blank">Расписание движения</a>
                <ul>
                    <li><a href="http://www.2-999-999.ru/p/avtobusy/" target="_blank">Автобусов</a></li>
                    <li><a href="http://www.2-999-999.ru/p/zhd-transport/" target="_blank">Пассажирских поездов</a></li>
                    <li><a href="http://www.2-999-999.ru/p/avia-transport/" target="_blank">Самолетов</a></li>
                    <li><a href="http://www.2-999-999.ru/p/recnoy-transport/" target="_blank">Речного транспорта</a></li>
                </ul>
            </li>
            <li><a href="http://www.2-999-999.ru/goroskop/" target="_blank">Гороскоп</a></li>
            <li><a href="http://www.2-999-999.ru/otkrytki/" target="_blank">Открытки, поздравления</a></li>
        </ul>
    </div>
    <div class="span2 _top-navigate-5">
        <ul id="nav3">
            <li>
                <a href="http://www.2-999-999.ru/slovar/" target="_blank">Афиша</a>
                <ul>
                    <li><a href="http://www.2-999-999.ru/gorodskie-novosti/" target="_blank">Новости Красноярска</a></li>
                    <li><a href="http://www.2-999-999.ru/novosti-kultury/" target="_blank">Новости культуры</a></li>
                    <li><a href="http://www.2-999-999.ru/molodezhnye-novosti/" target="_blank">Молодежные новости</a></li>
                    <li><a href="http://www.2-999-999.ru/novosti-sporta/" target="_blank">Новости спорта</a></li>
                    <li><a href="http://www.2-999-999.ru/novosti-firm/" target="_blank">Предложения фирм</a></li>
                    <li><a href="http://www.2-999-999.ru/novosti-tovarov-i-uslug/" target="_blank">Новости товаров и услуг</a></li>
                    <li><a href="http://www.2-999-999.ru/sobytiya-v-zhizni-goroda/" target="_blank">События в жизни города</a></li>
                    <li><a href="http://www.2-999-999.ru/novosti-kompanii/" target="_blank">Новости компании</a></li>
                </ul>
            </li>
            <li><a href="http://www.2-999-999.ru/slovar/" target="_blank">ТВ программа</a></li>
            <li><a href="http://www.2-999-999.ru/slovar/" target="_blank">Юмор</a></li>
            <li><a href="http://www.2-999-999.ru/slovar/" target="_blank">Знакомства</a></li>
        </ul>
    </div>
</div>
