{% load static %}

<div class="row _top">
    <div class="span3">
        <a href="/"><img class="_logo" src="{% static 'main/img/logo.png' %}" /></a>
    </div>
    <div class="span5">
        <img class="_tob-banner" src="{% static 'main/img/sivil.png' %}" />
    </div>
    <div class="span2">
        <div class="_currency-banner">
            <div class="row">
                <div class="span1">
                    <img class="_currency-banner-img" src="{% static 'main/img/trace.gif' %}">
                </div>
                <div class="span1">
                    <table class="_currency-banner-table">
                        <tbody>
                            <tr>
                                <th colspan="2">09.10.2013</th>
                            </tr>
                            <tr>
                                <td>USD</td>
                                <td>32.2984</td>
                            </tr>
                            <tr>
                                <td>EUR</td>
                                <td>43.8225</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="/kurs/">все банки</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="_currency-banner">
            <div class="row">
                <div class="span1">
                    <img class="_currency-banner-img" src="{% static 'main/img/trace.gif' %}">
                </div>
                <div class="span1">
                    <table class="_currency-banner-table">
                        <tbody>
                            <tr>
                                <th colspan="2">09.10.2013</th>
                            </tr>
                            <tr>
                                <td>USD</td>
                                <td>32.2984</td>
                            </tr>
                            <tr>
                                <td>EUR</td>
                                <td>43.8225</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="/kurs/">все банки</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
