<ul class="menu">
<li class=" li-menu1">
<ul class="menu1">
 <li class=" li-katalog_tovarov_i_uslug"><p class=" katalog_tovarov_i_uslug"><a href="http://www.2-999-999.ru/tematika/" target="_blank">Каталог товаров и услуг</a></p></li>
 <li class=" li-katalog_firm"><p class=" katalog_firm"><a href="http://www.2-999-999.ru/firm/" target="_blank">Каталог фирм</a></p></li>
 <li class=" li-katalog_saitov"><p class=" katalog_saitov"><a href="http://www.2-999-999.ru/site/" target="_blank">Каталог сайтов</a></p></li>
 <li class=" last li-katalog_internet-magazino"><p class=" katalog_internet-magazino"><a href="http://www.2-999-999.ru/internet-magazin/" target="_blank">Каталог интернет-магазинов</a></p></li>
</ul></li>
<li class=" li-menu2">
<ul class="menu2">
 <li class=" li-gorodskaya_spravka"><p class=" gorodskaya_spravka"><a href="http://www.2-999-999.ru/gor-spravka/" target="_blank">Городская справка</a></p></li>
 <li class=" li-karta_krasnoyarska"><p class=" karta_krasnoyarska"><a href="http://map.2-999-999.ru/" target="_blank">Карта Красноярска</a></p></li>
 <li class=" li-chastnye_obyavleniya"><p class=" chastnye_obyavleniya"><a href="http://www.2-999-999.ru/doska/" target="_blank">Частные объявления</a></p></li>
 <li class=" last li-akcii_rasprodazhi"><p class=" akcii_rasprodazhi"><a href="http://www.2-999-999.ru/akcii-rasprodazhi/" target="_blank">Акции, распродажи</a></p></li>
</ul></li>
<li class=" li-menu3">
<ul id="nav" class="menu3">
 <li class=" li-novosti"><p class=" novosti"><a href="http://www.2-999-999.ru/novosti/" target="_blank">Новости</a></p>
     <ul>
        <li><a href="http://www.2-999-999.ru/gorodskie-novosti/" target="_blank">Новости Красноярска</a></li>
        <li><a href="http://www.2-999-999.ru/novosti-kultury/" target="_blank">Новости культуры</a></li>
        <li><a href="http://www.2-999-999.ru/molodezhnye-novosti/" target="_blank">Молодежные новости</a></li>
        <li><a href="http://www.2-999-999.ru/novosti-sporta/" target="_blank">Новости спорта</a></li>
        <li><a href="http://www.2-999-999.ru/novosti-firm/" target="_blank">Предложения фирм</a></li>
        <li><a href="http://www.2-999-999.ru/novosti-tovarov-i-uslug/" target="_blank">Новости товаров и услуг</a></li>
        <li><a href="http://www.2-999-999.ru/sobytiya-v-zhizni-goroda/" target="_blank">События в жизни города</a></li>
        <li><a href="http://www.2-999-999.ru/novosti-kompanii/" target="_blank">Новости компании</a></li>
    </ul>
 </li>
 <li class=" li-den_v_istorii"><p class=" den_v_istorii"><a href="http://www.2-999-999.ru/den-v-istorii/" target="_blank">День в истории</a></p></li>
 <li class=" li-stati"><p class=" stati"><a href="http://www.2-999-999.ru/article/" target="_blank">Статьи</a></p></li>
 <li class=" last li-slovar"><p class=" slovar"><a href="http://www.2-999-999.ru/slovar/" target="_blank">Словарь</a></p></li>
</ul></li>
<li class=" li-menu4">
<ul id="nav2" class="menu4">
 <li class=" li-rabota"><p class=" rabota"><a href="/">Работа</a></p></li>
 <li class=" li-raspisanie_dvizheniya"><p class=" raspisanie_dvizheniya"><a href="http://www.2-999-999.ru/p/raspisanie-dvizhenija/" target="_blank">Расписание движения</a></p>
     <ul>
        <li><a href="http://www.2-999-999.ru/p/avtobusy/" target="_blank">Автобусов</a></li>
        <li><a href="http://www.2-999-999.ru/p/zhd-transport/" target="_blank">Пассажирских поездов</a></li>
        <li><a href="http://www.2-999-999.ru/p/avia-transport/" target="_blank">Самолетов</a></li>
        <li><a href="http://www.2-999-999.ru/p/recnoy-transport/" target="_blank">Речного транспорта</a></li>
    </ul>
 </li>
 <li class=" li-goroskop"><p class=" goroskop"><a href="http://www.2-999-999.ru/goroskop/" target="_blank">Гороскоп</a></p></li>
 <li class=" last li-otkrytki_pozdravleniya_ko"><p class=" otkrytki_pozdravleniya_ko"><a href="http://www.2-999-999.ru/otkrytki/" target="_blank">Открытки, поздравления</a></p></li>
</ul></li>
<li class=" li-menu5">
<ul id="nav3" class="menu5">
 <li class=" li-afisha"><p class=" afisha"><a href="http://www.2-999-999.ru/afisha/" target="_blank">Афиша</a></p>
    <ul>
        <li><a href="http://www.2-999-999.ru/gorodskie-novosti/" target="_blank">Новости Красноярска</a></li>
        <li><a href="http://www.2-999-999.ru/novosti-kultury/" target="_blank">Новости культуры</a></li>
        <li><a href="http://www.2-999-999.ru/molodezhnye-novosti/" target="_blank">Молодежные новости</a></li>
        <li><a href="http://www.2-999-999.ru/novosti-sporta/" target="_blank">Новости спорта</a></li>
        <li><a href="http://www.2-999-999.ru/novosti-firm/" target="_blank">Предложения фирм</a></li>
        <li><a href="http://www.2-999-999.ru/novosti-tovarov-i-uslug/" target="_blank">Новости товаров и услуг</a></li>
        <li><a href="http://www.2-999-999.ru/sobytiya-v-zhizni-goroda/" target="_blank">События в жизни города</a></li>
        <li><a href="http://www.2-999-999.ru/novosti-kompanii/" target="_blank">Новости компании</a></li>
    </ul>
 </li>
 <li class=" li-tv_programma"><p class=" tv_programma"><a href="http://www.2-999-999.ru/tv/" target="_blank">ТВ программа</a></p></li>
 <li class=" li-umor"><p class=" umor"><a href="http://www.2-999-999.ru/anekdot/" target="_blank">Юмор</a></p></li>
 <li class=" last li-znakomstva"><p class=" znakomstva"><a href="http://love.2-999-999.ru/" target="_blank">Знакомства</a></p></li>
</ul></li>
</ul>
