{% load static %}
{% load thumbnail %}

 <div class="header_top clearfix">
 <a href="/" class="header_top_logo"></a>
 <a href="{{ banner_top.link }}">
 {% thumbnail banner_top.image "468x60" as im %}
    <img class=" banner-alena" src="{{ im.url }}" alt="" width="{{ im.width }}" height="{{ im.height }}" />
 {% endthumbnail %}
 </a>
  <div class="pogoda">
   <div class="image clearfix">
    <img class=" weather" src="{% static 'main/img/images/weather.jpg' %}" alt="" width="104" height="49" />
    <div class="text">
     <p class=" na_10_dnei"><a href="http://www.2-999-999.ru/pogoda/" target="_blank">На 10 дней</a></p>
     <p class=" layer0_c">{{ banners.weather_night }}</p>
     <p class=" dnem">Днем</p>
     <p class=" layer6_c">{{ banners.weather_day }}</p>
     <p class=" nochu">Ночью</p>
     <p class=" layer30_09_2013"><strong>{{ banners.weather_date }}</strong></p>
    </div>
   </div>
  </div>
  <div class="wrapper1 clearfix">
   <div class="valuta">
    <div class="image_2 clearfix">
     <img class=" valuta_2" src="{% static 'main/img/images/valuta.jpg' %}" alt="" width="104" height="49" />
     <div class="text_2">
      <p class=" na_10_dnei_kopiya"><a href="http://www.2-999-999.ru/kurs/" target="_blank">все банки</a></p>
      <p class=" layer32_3451">{{ banners.currency_usd }}</p>
      <p class=" layer43_6497">{{ banners.currency_eur }}</p>
      <p class=" usd">USD</p>
      <p class=" eur">EUR</p>
      <p class=" layer28_09_2013"><strong>{{ banners.currency_date }}</strong></p>
     </div>
    </div>
   </div>
   <div class="c_wrapper5 clearfix">
{#    <p class=" dobavit_v_izbrannoe"><a href="#">Добавить в избранное</a></p>#}
{#    <p class=" dobavit_v_izbrannoe_kopiy"><a id="tab-profile" href="/accounts/profile">Личный кабинет</a></p>#}
   </div>
  </div>
 </div>
