{% load static %}

<div class="row _top">
    <div class="span3">
        <a href="/"><img class="_logo" src="{% static 'main/img/logo.png' %}" /></a>
    </div>
    <div class="span5">
        <img class="_tob-banner" src="{% static 'main/img/sivil.png' %}" />
    </div>
    <div class="span2">
        <div class="_currency-banner">
            <div class="row">
                <div class="span1">
                    <img class="_currency-banner-img" src="{% static 'main/img/trace.gif' %}">
                </div>
                <div class="span1">
                    <table class="_currency-banner-table">
                        <tbody>
                            <tr>
                                <th colspan="2">{{ banners.weather_date }}</th>
                            </tr>
                            <tr>
                                <td>Ночью</td>
                                <td>{{ banners.weather_night }}</td>
                            </tr>
                            <tr>
                                <td>Днем</td>
                                <td>{{ banners.weather_day }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="http://www.2-999-999.ru/pogoda/" target="_blank">На 10 дней</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="_currency-banner">
            <div class="row">
                <div class="span1">
                    <img class="_currency-banner-img" src="{% static 'main/img/note.gif' %}">
                </div>
                <div class="span1">
                    <table class="_currency-banner-table">
                        <tbody>
                            <tr>
                                <th colspan="2">{{ banners.currency_date }}</th>
                            </tr>
                            <tr>
                                <td>USD</td>
                                <td>{{ banners.currency_usd }}</td>
                            </tr>
                            <tr>
                                <td>EUR</td>
                                <td>{{ banners.currency_eur }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="http://www.2-999-999.ru/kurs/" target="_blank">все банки</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
